@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: rgba(242, 244, 245, 0.993);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
